<h1>Instellingen</h1>
<label>Duur(min)</label><input [(ngModel)]="duration" type="number" step="5" min="5">
<br>
<br>
<button name="startbutton" type="submit" (click)="start()" class="fancy_button">Start het spel</button>
<br>
<br>
<button name="stopbutton" type="submit" (click)="stop()" class="fancy_button" *ngIf="running">Stop het spel</button>
