.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(64, 64, 71,0.4);
  color: white;
  padding: 3%;
  border-radius: 15px;
  text-align: justify;
}
.fancy_button{
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin-bottom: 1%;
  float: right;
  margin-right: 10%;
}
#logo{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

