<button class="fancy_button" (click)="route()"><img src="../../assets/home.png" id="logo">Startpagina</button>
<div class="content">
  <h1>Speluitleg</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque distinctio est et, eveniet
    explicabo fugiat hic inventore ipsum itaque maiores minima minus, neque obcaecati optio quam quos ratione
    reiciendis,
    reprehenderit sapiente tempore ullam unde veritatis vero? Accusantium assumenda corporis dolore dolorem eos eveniet
    nihil nobis odio officiis perferendis, provident quas sapiente, sunt. Autem laboriosam quae sapiente sunt. A
    accusamus
    alias aperiam assumenda consectetur cum cupiditate enim error facilis, fugit hic inventore ipsum libero maiores modi
    molestias natus odio porro quod sint unde, veniam vero? Ad non odit placeat quas, quasi quibusdam quidem rem
    veritatis! Aut culpa eius eum minima veniam! Amet dolore est nam, neque nulla omnis quo vitae voluptatem? Aliquam
    laudantium maiores officia omnis placeat, quibusdam ut vero voluptas? Accusantium, ad aliquam atque aut beatae
    blanditiis cupiditate debitis earum excepturi, fugiat id, inventore labore laudantium magnam nisi optio perferendis
    quae quaerat quasi reiciendis repudiandae sunt tenetur voluptatem!</p>
</div>
<footer>Made By KdG, Sint-Niklaas
  <div>
    <img src="../../assets/800.png" height="80">
    <img src="../../assets/DVJS.png" height="80">
    <img src="../../assets/jobs.gif" height="80">
  </div>
</footer>
