@font-face {
  font-family: ironandbrine;
  src:url(../../assets/ironandbrine.ttf);
}

h1{
  font-family: ironandbrine;
  text-align: center;
  width: 32%;
  margin-left: 34%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(64, 64, 71,0.4);
  color: white;
  padding: 3%;
  border-radius: 15px;
  text-align: justify;
}

#logoutbutton {
  float:right;
}
