<button id="logoutbutton" (click)="logout()" class="fancy_button">Uitloggen</button>
<h1>Room</h1>
<div class="content">
  <app-account></app-account>
  <br />
  <app-start-settings></app-start-settings>
</div>
<footer>Made By KdG, Sint-Niklaas
  <div>
    <img src="../../assets/800.png" height="80">
    <img src="../../assets/DVJS.png" height="80">
    <img src="../../assets/jobs.gif" height="80">
  </div>
</footer>
