<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<sebm-google-map name="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [draggable]="false" [disableDefaultUI]="true"
                 [zoomControl]="false" [scrollwheel]="false" [keyboardShortcuts]="false" [disableDoubleClickZoom]="true"
                 [streetViewControl]="false" [styles]="mapStyle" >
  <!--[styles]="mapStyle"-->
  <div *ngFor="let d of tradePost">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.lng">
      <sebm-google-map-info-window [disableAutoPan]="false">
        <strong>{{d.name}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <sebm-google-map-circle
      [latitude]="d.lat" [longitude]="d.lng"
      [radius]="20">
    </sebm-google-map-circle>
  </div>
  <div *ngFor="let d of districts">
    <div *ngIf="d.plein">
      <sebm-google-map-marker [label]="d.name" [latitude]="d.middle.lat" [longitude]="d.middle.lng" [iconUrl]="d.icon">
      </sebm-google-map-marker>
      <sebm-google-map-circle
        [latitude]="d.middle.lat" [longitude]="d.middle.lng"
        [radius]="20">
      </sebm-google-map-circle>
    </div>
    <sebm-map-polygon [paths]="d.polypoints" [fillColor]="d.color" [strokeWeight]="1">
    </sebm-map-polygon>
  </div>
  <div *ngFor="let d of banken">
    <sebm-google-map-marker [latitude]="d.lat" [longitude]="d.lng" [iconUrl]="'assets/bank.png'">
    </sebm-google-map-marker>
    <sebm-google-map-circle
      [latitude]="d.lat" [longitude]="d.lng"
      [radius]="20">
    </sebm-google-map-circle>
  </div>
  <div *ngFor="let p of players">
    <sebm-google-map-circle [latitude]="p.lat" [longitude]="p.lng" [radius]="20" [fillColor]="p.color"
                            [fillOpacity]="1">
    </sebm-google-map-circle>
  </div>

</sebm-google-map>
