.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(64, 64, 71,0.4);
  color: white;
  padding: 3%;
  border-radius: 15px;
  text-align: justify;
}

.left {
  width: 25%;
  float: left;
  padding: 2%;
}

.right {
  width: 65%;
  float: left;
}

br {
  clear: both;
}
