<div class="content">
<div class="left">
  <app-team [teams]="teams"></app-team>
  <app-statistics [winner]="winner" [run]="running"></app-statistics>
  <app-game-settings (stopEmitter)="stoping($event)" (startEmitter)="starting($event)" [running]="running"></app-game-settings>
</div>

<app-map [districts]="districts" [players]="playerMap.players" [banken]="banken" [tradePost]="tradePost"
         class="right"></app-map>
  <br />
</div>
