<br />
<br />
<form (submit)="login(logingroup)" class="content">
  <div [formGroup]="logingroup" >
    <div class="register">
      <label>E-mail</label><input name="loginemail" type="email" placeholder="email" formControlName="emailaddress"/>
    </div>
    <div class="alert"
         *ngIf="!logingroup.controls['emailaddress'].valid && logingroup.controls['emailaddress'].touched">Geef een
      emailadres
    </div>
    <div class="register">
      <label>Paswoord</label><input name="loginpassword" type="password" placeholder="paswoord" formControlName="password"/>
    </div>
  </div>
  <br />
  <button name="loginbutton" type="submit" class="fancy_button" [disabled]="!logingroup.valid">Aanmelden</button>
</form>
