<form (submit)="onSubmit(settingsgroup)" >
  <div [formGroup]="settingsgroup" class="content">
    <label>Spelnaam</label><input name="name" type="text" placeholder="spelnaam" formControlName="roomName">
    <div class="alert"
         *ngIf="!settingsgroup.controls['roomName'].valid && settingsgroup.controls['roomName'].touched">Geef een SpelNaam
    </div>

    <label>Paswoord</label>
    <input name="password" type="password" placeholder="wachtwoord" formControlName="hostPassword">
    <div class="alert"
         *ngIf="!settingsgroup.controls['hostPassword'].valid && settingsgroup.controls['hostPassword'].touched">Geef een Passwoord
    </div>

    <label>Teams</label>

    <input class="slider"
           type="range"
           min="2"
           max="6"
           step="1"
           #ref1
           formControlName="maxTeams"
           name="maxTeams">
    <span name="spanteams">{{ref1.value}}</span>
    <br>
    <label>Spelers</label>

    <input class="slider"
           type="range"
           min="2"
           max="36"
           step="1"
           #ref2
           formControlName="maxPlayersPerTeam"
           name="maxPlayersPerTeam">
    <span name="spanplayers">{{ref2.value}}</span>
    <br />
    <br />
    <button name="createbutton" type="submit" [disabled]="!settingsgroup.valid" class="fancy_button">Maak room</button>
  </div>
</form>
