/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ironandbrine;
  src: url(/assets/ironandbrine.ttf);
}

h1 h2{
  font-family: ironandbrine;
}


body {
  background-color: aliceblue;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  padding-bottom: 30px;
  font-family: Tahoma, sans-serif;
}
.fancy_button {
  padding: 3px 10px 3px 10px;
  color: white;
  background-color: #E37222;
  margin-left: 24%;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;

}
.fancy_button:hover {background-color: #e58c4e}

.alert{
  color: red;
  border-radius: 10px;
  margin-left: 24%;
  margin-top: 1%;
  margin-bottom: 1%;
  width:20%;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  color: white;
  font-weight: bold;
}

a {
  color: blue;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:visited {
  color: lightblue;
}
@font-face {
  font-family: Akashi;
  src: url(assets/Akashi.ttf);
}
