<table>
  <template let-team ngFor [ngForOf]="teams">
    <tr>
      <th [style.background-color]="team.color">{{team.name}}</th>
    </tr>
    <tr *ngFor="let row of team.players">
      <td>{{row.name}}</td>
    </tr>
  </template>
</table>
