@font-face {
  font-family: ironandbrine;
  src: url(../../assets/ironandbrine.ttf);
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(64, 64, 71, 0.4);
  color: white;
  padding: 3%;
  border-radius: 15px;
  text-align: justify;
}

.left {
  width: 55%;
  float: left;
}

.right {
  width: 45%;
  float: left;
  text-align: center;
  padding-top: 30px;
}

h1 {
  text-align: center;
  font-family: ironandbrine;
}

@media screen and (max-width: 480px) {
  .right {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .content p {
    display: none;
  }
  footer{
    position: relative;
  }
}
