<div class="left">
  <h1>
    {{title}}
  </h1>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex neque provident saepe? Ad, alias
      architecto commodi
      cupiditate deserunt dicta doloribus dolorum ea explicabo ipsam iusto laboriosam laudantium nesciunt nobis,
      possimus
      quod suscipit tempora voluptate. Distinctio doloremque doloribus enim libero molestiae nihil nobis odio quod ut
      veritatis? Accusamus dolore expedita fugit illo in, iure magni minima quae quisquam, rem reprehenderit rerum sint.
      Cum
      hic necessitatibus nobis numquam quasi quo suscipit. Aliquid dolor dolorum eos ex excepturi, illo itaque
      laudantium
      obcaecati odio, quis repellat rerum. Accusantium ad aliquid animi aperiam aspernatur consectetur eius enim eos
      fugiat
      hic incidunt, labore laudantium magnam magni odio perferendis placeat provident quae quaerat qui quos ratione
      sapiente
      sunt suscipit tempora ullam ut voluptas. Accusamus amet aspernatur blanditiis commodi consectetur delectus
      deleniti
      deserunt distinctio dolorem doloremque dolorum ducimus fugiat inventore ipsa iste iure laborum magnam natus
      necessitatibus, omnis placeat quidem quisquam quod repellat saepe tempora temporibus voluptatibus! Nostrum?
      <a (click)="about()">Meer info</a></p>
    <a href="../../assets/apk/android-debug.apk" download>APK</a>
  </div>
</div>
<app-login class="right"></app-login>
<app-register class="right"></app-register>



<footer>Made By KdG, Sint-Niklaas
  <div>
    <img src="../../assets/800.png" height="80">
    <img src="../../assets/DVJS.png" height="80">
    <img src="../../assets/jobs.gif" height="80">
  </div>
</footer>
