.content {
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(64, 64, 71,0.4);
  color: white;
  padding: 3%;
  border-radius: 15px;
}

.register {
  padding: 1%;
}

label, input {
  display: inline-block;
}

label {
  width: 20%;
  /*border: solid;*/
  text-align: right;
}

label + input {
  margin: 0 20% 0 4%;
}

input + input {
  float: right;
}
