<form (submit)="register(registergroup)" class="content">
  <div [formGroup]="registergroup">
    <div class="register">
      <label>Username</label><input name="registerusername" type="text" placeholder="username" formControlName="username"/>
      <div class="alert"
           *ngIf="!registergroup.controls['username'].valid && registergroup.controls['username'].touched">Geef een
        username
      </div>
    </div>
    <div class="register">
      <label>E-mail</label><input name="registeremail" type="email" placeholder="email" formControlName="emailAddress"/>
      <div class="alert"
           *ngIf="!registergroup.controls['emailAddress'].valid && registergroup.controls['emailAddress'].touched">Geef
        een geldige e-mail
      </div>
    </div>

    <div formGroupName="passwords">
      <div class="register">
        <label>Paswoord</label><input name="registerpassword" type="password" placeholder="paswoord" formControlName="password"/>
      </div>
      <div class="register">
        <label>Bevestig Paswoord</label><input name="registerpasswordagain" type="password" placeholder="paswoord" formControlName="repeat"/>
      </div>
      <div *ngIf="!registergroup.controls['passwords'].valid && registergroup.controls['passwords'].touched" class="alert">
        <div *ngIf="registergroup.controls['passwords']?.errors?.areEqual">paswoorden moeten overeenstemmen</div>
      </div>
    </div>
    <br />
    <button name="registerbutton" type="submit" class="fancy_button" [disabled]="!registergroup.valid">Registreren</button>
  </div>
</form>
